# {{title}}

See the published version of this post at: https://dfm.io/posts/{{slug}}

Open an executable version on Binder at: https://mybinder.org/v2/gh/dfm-io/post--{{slug}}/executed?labpath=post.ipynb
